.App {
  height: 100vh;
  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  } 

  .logo {
    margin: 10px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
